[Desktop Entry]
Name=BAREBLOOD
Comment=BLOOD. BARE
X-KDE-PluginInfo-Author=LG
X-KDE-PluginInfo-Version=1.0
X-KDE-PluginInfo-Name=BAREBLOOD
X-KDE-PluginInfo-License=GPL

X-KDE-ServiceTypes=KWin/Decoration
X-KDE-PluginInfo-EnabledByDefault=true
X-KDE-PluginInfo-BaseName=decoration
